*{font-family: 'Zilla Slab', serif;}
#top{background-image: url('img/background\ top\ page.jpg');
height:400px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
padding: 60px;
}
.nav div{
    height: 2px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
}
.nav{
    width: 60px;
   display: block;
   margin-left: 50px;
}

#top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#middle p{
    text-align: center;
    font-weight: 100;
}
#top p{
    color: white;
    text-align: center;
    font-size: 30px;
}
#middle{
    display: flex;
    height: 200px;
}
#happy_moments{
    width: 25%;
    flex-direction: column;
}
#breakfast{
    width: 25%;
    background-image:url(./img/breakfast.jpg);
    background-size: cover;
    padding-top: 5%;
    color: white;
    font-size: 20px;
}
#Lunch{
    width: 25%;
    background-image: url(./img/lunch.jpg);
    background-size: cover;
    opacity: 0.5;
    padding-top: 5%;
    color: white;
    font-size: 20px;
}
#Dinner{
    width: 25%;
    background-image: url(./img/dinner.jpg);
    background-size: cover;
    padding-top: 5%;
    color: white;
    font-size: 20px;
}
.happy-hour{
    background-color: white; 
    color: rgb(110, 107, 107); 
    font-size: 30px;
}
.party-time{
background-color: rgb(240, 81, 8);
color:white;
font-size: 30px;
padding-top: 10px;
height: 48%;
}
#yummy_section{
    display: flex;
    padding:5%;
    margin-left: 200px;
    
}
.yum-1{
    border: 20px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 5px grey;
    font-size: 0;
}
#fast-food-notes{
padding-left: 5%;
margin-right:15%;


}
h2{
    font-weight: 50;
}
h3{
font-weight: 50;
font-size: 90%;

}
h4{
    color: #f15a29;
    font-weight: 100;
    border: 1px solid #f15a29;
    padding-right: 30px;
}
#_gallery p{
    color: #f15a29;
    font-weight: 700;
    border: 1px solid #f15a29;
    width: 170px;
    box-shadow: 1px 1px 1px #f15a29;
}
._tag{
    font-size: xx-large;
}
#about-liquids{
    display: flex;
}
.fast-food-drinks-notes{
width: 50%;
text-align: right;
padding-right: 3%;


}
#yummy_drinks{
    border: 20px solid white;
    box-shadow: 2px 2px 5px grey;
   font-size: 0;
padding-right: 3%;
}
.fast-food-drinks-notes p{
    margin-left: 75%;
}
#box_fruit{
background-image: url(./img/foodsBg.jpg);
background-size: cover;
padding: 170px;
}
#menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.f{
    width: 25%;
    background-color: white;
}
.d{
width: 25%;
background-color: darkgray;

}
.pics{
    display: flex;
    background-color: white;
    padding: 7%;
    justify-content: space-around;
}
.pics span{
    text-align: center;
    color:#f15a29;
}
.f p{
    color: #f15a29;

}
.d p{
color: black;
}
.pics p{
    color: #f15a29;
    text-align: center;
}
.pic1{
padding: 15px;
}
.pic2{
    padding: 15px;
}
.pic3{
    padding: 15px;
}
#scroll-arrow{
    font-size: 70px;
    text-align: center;
}
#customers-section{
    display: flex;
    width: 80%;
    padding: 4%;
    text-align: center;
    margin-left: 95px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px slategrey;
}
.-section{
    width: 400%;
    box-shadow:2px 2px 5px slategrey;

}
#side{
color: #f15a29;
font-size: 20px;
}
.customers-pics{
    display: flex;
  justify-content: center;
}
.-section h1{
    color: #f15a29;
}
.-section h2{
    color: #f15a29;
}
.feedback h1{
    color: #f15a29;
}.feedback p{
    color: black;
}
.feedback{
    box-shadow:2px 2px 5px  slategrey;
}
#tomatoes-page{
    background-image: url(./img/subscribe.jpg);
    color: white;
    padding: 70px;
    text-align: center;
}
#subscriptions{
    display: flex;
    justify-content: space-around;
    width: 48%;
    margin-left: 350px;
    text-align: center;

}
#tomatoes-page p{
    text-align: center;
    font-size: 20px;
}
#subscriptions p{
    text-align: center;
}
.grey{
    background-color: slategrey;
    opacity: 0.5;
    width:130px;
    padding-right: 40%;
    margin-right: 40px;
    border-radius: 5px;

}
.orange{
    background-color: #f15a29;
    width: 150px;
    border-radius: 5px;
}
.orange p{
    text-align: center;
}
#orange-page{
    background-color: #f15a29;
    padding: 25px;
    color: white;
}
#krabby-patty{
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin-left: 45%;
    font-size: 30px;
  
}
.tags{
    display: flex;
    justify-content: center;
    justify-content: space-around;
   width: 10%;
   margin-left: 45%;
}
#orange-page p{
    text-align: center;
}
#tomatoes-page h2{
    font-size: 33px;
    font-weight: 900;
 
}
#krabby-patty p{
    font-size: 20px;
}
.end{
    margin-top: 50px;
    font-size: 10px;
}