#top{background-image: url('img/background\ top\ page.jpg');
height:400px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
}
.nav div{
    height: 2px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
}
.nav{
    width: 40px;
   display: block;
   margin-left: 50px;
}
#top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    color: white;
    text-align: center;
    font-weight: 100;
}
/*to remove*/
div{
    border: 1px dashed green;
}
#middle{
    display: flex;
    height: 200px;
}
#happy_moments{
    width: 25%;
    flex-direction: column;
}
#happy_moments p{
    color: black;
}
#breakfast{
    width: 25%;
    background-image:url(./img/breakfast.jpg);
    background-size: cover;
}
#Lunch{
    width: 25%;
    background-image: url(./img/lunch.jpg);
    background-size: cover;
    opacity: 0.5;
}
#Dinner{
    width: 25%;
    background-image: url(./img/dinner.jpg);
    background-size: cover;
}
.happy-hour{
    background-color: rgb(212, 210, 207);
    height: 100px;    
}
.party-time{
background-color: rgb(240, 81, 8);
height: 100px;
}
/*to remove*/
div{
    border: 1px dashed green;
}
#yummy_section{
    display: flex;
    padding:5%;
    margin-left: 200px;
}
.yum-1{
    border: 20px solid rgb(255, 253, 253);
    box-shadow: 2px 2px 5px grey
}
#fast-food-notes{
padding-left: 5%;
margin-right:15%;


}
h2{
    font-weight: 50;
}
h3{
font-weight: 50;
font-size: 90%;
}
h4{
    color: rgb(250, 95, 24);
    font-weight: 100;
    border: 1px solid rgb(240, 81, 8);
    padding-right: 30px;
}
#_gallery p{
    color: #f15a29;
    font-weight: 700;
}
._tag{
    font-size: xx-large;
}