#top{background-image: url('img/background\ top\ page.jpg');
height:400px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
}
.nav div{
    height: 2px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
}
.nav{
    width: 40px;
   display: block;
   margin-left: 50px;
}
#top img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    color: white;
    text-align: center;
    font-weight: 100;
}
/*to remove*/
div{
    border: 1px dashed green;
}
#middle{
    display: flex;
    height: 200px;
}
#happy_moments{
    width: 25%;
    flex-direction: column;
}
#happy_moments p{
    color: black;
}
#breakfast{
    width: 25%;
    background-image:url(./img/breakfast.jpg);
    background-size: cover;
    padding-top: 5%;
}
#Lunch{
    width: 25%;
    background-image: url(./img/lunch.jpg);
    background-size: cover;
    opacity: 0.5;
    padding-top: 5%;
}
#Dinner{
    width: 25%;
    background-image: url(./img/dinner.jpg);
    background-size: cover;
    padding-top: 5%;
}
.happy-hour{
    background-color: rgb(212, 210, 207);
    height: 100px;    
}
.party-time{
background-color: rgb(240, 81, 8);
height: 100px;
}
/*to remove*/
div{
    border: 1px dashed green;
}
#yummy_section{
    display: flex;
    padding:5%;
    margin-left: 200px;
    
}
.yum-1{
    border: 20px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 5px grey;
    font-size: 0;
}
#fast-food-notes{
padding-left: 5%;
margin-right:15%;


}
h2{
    font-weight: 50;
}
h3{
font-weight: 50;
font-size: 90%;

}
h4{
    color: #f15a29;
    font-weight: 100;
    border: 1px solid #f15a29;
    padding-right: 30px;
}
#_gallery p{
    color: #f15a29;
    font-weight: 700;
    border: 1px solid #f15a29;
    width: 170px;
    box-shadow: 1px 1px 1px #f15a29;
}
._tag{
    font-size: xx-large;
}
/*to remove*/
div{
    border: 1px dashed green;
}
#about-liquids{
    display: flex;
}
.fast-food-drinks-notes{
width: 50%;
text-align: right;
padding-right: 3%;


}
#yummy_drinks{
    border: 20px solid white;
    box-shadow: 2px 2px 5px grey;
   font-size: 0;
padding-right: 3%;
}
.fast-food-drinks-notes p{
    margin-left: 75%;
}
/*to remove*/
div{
    border: 1px dashed green;
}

#box_fruit{
background-image: url(./img/foodsBg.jpg);
background-size: cover;
padding: 170px;
}
#menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.f{
    width: 25%;
    background-color: white;
}
.d{
width: 25%;
background-color: darkgray;

}
.pics{
    display: flex;
    background-color: white;
    padding: 7%;
    justify-content: space-around;
}
.pics span{
    text-align: center;
    color:#f15a29;
}
.f p{
    color: #f15a29;

}
.d p{
color: black;
}
.pics p{
    color: #f15a29;
}
.pic1{
padding: 15px;
}
.pic2{
    padding: 15px;
}
.pic3{
    padding: 15px;
}
#scroll-arrow{
    font-size: 70px;
    text-align: center;
}
/*to remove*/
div{
    border: 1px dashed green;
}
#customers-section{
    display: flex;
    width: 80%;
    padding: 4%;
    text-align: center;
    margin-left: 95px;
    border: 1px solid white;
    box-shadow: 2px 2px 5px 0 slategrey;
}
.-section{
    width: 400%;

}
#customers-section p{
 color: black;
 justify-content: space-around; 
}
#side-arrow p{
color: #f15a29;
font-size: 20px;
}
.customers-pics{
    display: flex;
  justify-content: center;
}
.-section h1{
    color: #f15a29;
}
.-section h2{
    color: #f15a29;
}
.feedback{
    color: #f15a29;
}